<html>
    <head>
        <title>Talks</title>
        <link rel="stylesheet" type="text/css" href="static/styles.css">
        <link rel='stylesheet' href='https://dubsdot.cosi.clarkson.edu/cosi-nav.css'>
        <script type="text/javascript" src="static/site.js"></script>
    </head>
    <body>
        <cosi-nav></cosi-nav>

        <h1> Talks </h1>
        <h3> Upcoming Events For The Clarkson Open Source Institute Meetings </h3>
        <h3> (dubsdot 2) </h3>
        <table id="table">
            <thead>
                <tr>
                    <th style="display: none;"></th>
                    <th>Talk Presenter</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>

            <tbody id="tb">
                {% for talk in talks %}
                <tr class="event">
                    <td style="display: none;"> {{talk.id}} </td>
                    <td class="name"> {{talk.name}} </td>
                    <td class="type"> {{talk.talk_type}} </td>
                    <td class="desc"> {{talk.desc}} </td>
                    <td class="actions"> <button onclick="hide({{talk.id}})" > x </button> </td>
                </tr>
                {% endfor %}
                <tr>
                    <th>
                        <input id="name" type="text" placeholder="Name" value="" autocomplete="off">
                    </th>
                    <th>
                        <select id="type">
                            <option value="ForumTopic">Forum Topic</option>
                            <option value="LightningTalk">Lightning Talk</option>
                            <option value="ProjectUpdate">Project Update</option>
                            <option value="Announcement">Announcement</option>
                            <option value="AfterMeetingSlot">After-Meeting Slot</option>
                        </select>
                    </th>
                    <th>
                        <input id="description" type="text" placeholder="Description" value="" autocomplete="off">
                    </th>
                    <th>
                        <button id="create" onclick="create()"> create </button>
                    </th>
                </tr>
            </tbody>
        </table>
        <p style="text-align: center;">
            <button onclick="parseToMM()">Parse to Meeting Minutes</button>
        </p>
        <h5> <a href="https://github.com/COSI-Lab/rust-talks"> V1.1 </a> </h5>
    </body>
</html>
